.color-filter {
    background-color: rgba(38, 39, 39, 0.70);
    border-radius: 12px;
    padding: 6px;
}

.color-filter button {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.color-filter .all-button {
    border-radius: 8px;
    background-color: #333535;
}

.color-filter .color-button {
    border-radius: 7px;
}

.color-filter button.selected {
    box-shadow:
        0 0 0 1.5px rgba(255, 255, 255, 0.95);
}

.color-filter .color-red {
    background-color: #E53935;
}

.color-filter .color-orange {
    background-color: #FB8C00;
}

.color-filter .color-yellow {
    background-color: #FDD835;
}

.color-filter .color-green {
    background-color: #43A047;
}

.color-filter .color-cyan {
    background-color: #00ACC1;
}

.color-filter .color-blue {
    background-color: #1E88E5;
}

.color-filter .color-purple {
    background-color: #8E24AA;
}

.color-filter .color-pink {
    background-color: #D81B60;
}

.color-filter .color-gray {
    background-color: #9E9E9E;
}