.color-filter {
    background-color: rgba(57, 58, 58, 0.60);
    border-radius: 10px;
    padding: 8px;
}

.color-filter button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
}

.color-filter button:hover,
.color-filter button:active,
.color-filter button:checked,
.color-filter button:focus {
    background: transparent;
    background-image: none;
    box-shadow: none;
}

.color-filter .color-button {
    border-radius: 10px;
}

.color-filter .all-button {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.10);
}

.color-filter .search-button {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 8px;
}

.color-filter .search-icon {
    -gtk-icon-size: 24px;
}

.color-filter .search-button:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

.color-filter .search-back-button {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 8px;
}

.color-filter .search-entry {
    min-width: 220px;
    min-height: 32px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    color: #ffffff;
    border: none;
    box-shadow: none;
}

.color-filter .search-entry:focus {
    box-shadow: none;
    outline: none;
}